<div class="">
  <%= form_for(@runner) do |f| %>
    <% if @runner.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@runner.errors.count, "error") %> prohibited this runner from being saved:</h2>

        <ul>
        <% @runner.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <section class="inscripcion-datos row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <h3>Datos Personales</h3>
        <div class="form-group">
          <%= f.label :rut %>
          <%= f.text_field :rut, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :sexo, 'Sexo' %>
          <select class="form-control" name="runner[sexo]" id="runner_sexo"><option value="">Por favor seleccione...</option>
          <%= options_for_select([['Masculino'], ['Femenino']]) %>
          </select>
        </div>

        <div class="autorizacion">
          <div class="form-group">
            <%= f.label :autorizacion_rut %>
            <%= f.text_field :autorizacion_rut, :class => 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :autorizacion_nombre %>
            <%= f.text_field :autorizacion_nombre, :class => 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.check_box :autorizacion %>
            <%= f.label :autorizacion, 'Acepto' %>
          </div>
        </div>

        <div class=" form-group">
          <%= f.label 'Categoría' %>
          <%= f.collection_select(:category_id, Category.all, :id, :categoria_completa, {:prompt=>true}, {:class=>'form-control'}) %>
        </div>
        <div class="form-group">
          <%= f.label :nombres %>
          <%= f.text_field :nombres, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :apellido_paterno %>
          <%= f.text_field :apellido_paterno, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :apellido_materno %>
          <%= f.text_field :apellido_materno, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :fecha_nac, 'Fecha de nacimiento' %>
          <%= f.date_field :fecha_nac, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :pais, 'País' %>
          <%= f.text_field :pais, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :ciudad %>
          <%= f.text_field :ciudad, :class => 'form-control' %>
        </div>
        <p class="next next1js btn btn-lg btn-primary">Siguiente</p>
      </div>
    </section>
    <section class="inscripcion-contacto row hide">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <h3>Datos de Contacto</h3>
        <div class="form-group">
          <%= f.label :telefono, 'Teléfono' %>
          <%= f.number_field :telefono, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :correo %>
          <%= f.text_field :correo, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :club, 'Club o Team' %>
          <%= f.text_field :club, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :talla, 'Talla de polera (regalo)' %>
          <select class="form-control" name="runner[talla]" id="runner_talla"><option value="">Por favor seleccione...</option>
          <%= options_for_select([['S'], ['M'], ['L'], ['XL']]) %>
          </select>
        </div>
        <p class="next next2js btn btn-lg btn-primary">Siguiente</p>
      </div>
    </section>
    <section class="inscripcion-medico row hide">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <h3>Datos Médicos</h3>
        <div class="form-group">
          <%= f.label :persona_emergencia,'En caso de emergencia llamar a' %>
          <%= f.text_field :persona_emergencia, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :numero_emergencia, 'Teléfono de emergencia' %>
          <%= f.number_field :numero_emergencia, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :problema, 'Tiene algún problema médico?' %>
          <%= f.text_field :problema, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :alergia, 'Es alérgico a algo?' %>
          <%= f.text_field :alergia, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :prescripcion, 'Tiene alguna prescripción médica?' %>
          <%= f.text_field :prescripcion, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :tratamiento, 'Está bajo algún tratamiento?' %>
          <%= f.text_field :tratamiento, :class => 'form-control' %>
        </div>
        <p class="next next3js btn btn-lg btn-primary">Siguiente</p>
      </div>
    </section>
    <section class="inscripcion-declaracion row hide">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <h3>Declaración Jurada</h3>
        <div class="form-group">
          <%= f.check_box :declaracion %>
          <%= f.label :declaracion, 'Acepto' %>
        </div>
        <p class="next next4js btn btn-lg btn-primary">Siguiente</p>
      </div>
    </section>
    <section class="inscripcion-rut row hide">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <h3>Confirmación de Pago</h3>
        <div class="form-group">
          <%= f.label :rut_pago, 'Rut de la persona que deposita/transfiere' %>
          <%= f.text_field :rut_pago, :class => 'form-control' %>
        </div>
        <div class="actions">
          <%= f.submit 'Inscribir', :class => 'btn btn-success btn-lg' %>
        </div>
      </div>
    </section>
  <% end %>
</div>
