<% if user_signed_in? %>
<p id="notice"><%= notice %></p>
<%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete%></br>
<%= link_to "Cambiar contraseña", edit_user_registration_path %>

<h1>Lista de Corredores</h1>

<%= link_to 'Agregar Corredor', new_runner_path, :class => 'btn btn-success' %>
<%= link_to 'Descargar excel', 'runners.xlsx' %>


<div class="table-responsive">
  <table class="table table-condensed table-runners">
    <thead>
      <tr>
        <th colspan="3"></th>
        <th>Rut</th>
        <th>Sexo</th>
        <th>Categoría</th>
        <th>Nombres</th>
        <th>Apellido paterno</th>
        <th>Apellido materno</th>
        <th>Fecha nac</th>
        <th>Pais</th>
        <th>Ciudad</th>
        <th>Telefono</th>
        <th>Correo</th>
        <th>Club</th>
        <th>Talla</th>
        <th>Persona emergencia</th>
        <th>Numero emergencia</th>
        <th>Peblema</th>
        <th>Alergia</th>
        <th>Prescripcion</th>
        <th>Tratamiento</th>
        <th>Declaracion</th>
        <th>Rut pago</th>
        <th>Pago</th>
        <th>Dorsal</th>
        <th>Lugar</th>
        <th>Tiempo</th>
      </tr>
    </thead>

    <tbody>
      <% @runners.each do |runner| %>
      <% runid = runner.category_id %>
      <% categoria = Category.find(runid) %>
        <tr>
          <td><%= link_to 'Ver', runner, :class => 'btn btn-xs btn-success' %></td>
          <td><%= link_to 'Editar', edit_runner_path(runner), :class => 'btn btn-xs btn-warning' %></td>
          <td><%= link_to 'Eliminar', runner, method: :delete, data: { confirm: 'Seguro que quieres eliminar a este corredor?' }, :class => 'btn btn-xs btn-danger' %></td>
          <td><%= runner.rut %></td>
          <td><%= runner.sexo %></td>
          <td><%= "#{categoria.tipo} #{categoria.sexo} #{categoria.edad}" %></td>
          <td><%= runner.nombres %></td>
          <td><%= runner.apellido_paterno %></td>
          <td><%= runner.apellido_materno %></td>
          <td><%= runner.fecha_nac %></td>
          <td><%= runner.pais %></td>
          <td><%= runner.ciudad %></td>
          <td><%= runner.telefono %></td>
          <td><%= runner.correo %></td>
          <td><%= runner.club %></td>
          <td><%= runner.talla %></td>
          <td><%= runner.persona_emergencia %></td>
          <td><%= runner.numero_emergencia %></td>
          <td><%= runner.problema %></td>
          <td><%= runner.alergia %></td>
          <td><%= runner.prescripcion %></td>
          <td><%= runner.tratamiento %></td>
          <% if runner.declaracion==true %>
          <% rundeclaracion = "Acepto" %>
          <% end %>
          <td><%= rundeclaracion %></td>
          <td><%= runner.rut_pago %></td>
          <td><%= runner.pago %></td>
          <td><%= runner.dorsal %></td>
          <td><%= runner.lugar %></td>
          <td><%= runner.tiempo %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @runners, previous_label: h("<"), next_label: h(">"), renderer: BootstrapPagination::Rails %>

<% else %>

<p class="text-danger">No estás autorizado para acceder a este contenido.</p>

<% end %>