<p id="notice"><%= notice %></p>

<p>
  <strong>Rut:</strong>
  <%= @runner.rut %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @runner.sexo %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @runner.nombres %>
</p>

<p>
  <strong>Apellido paterno:</strong>
  <%= @runner.apellido_paterno %>
</p>

<p>
  <strong>Apellido materno:</strong>
  <%= @runner.apellido_materno %>
</p>

<p>
  <strong>Fecha nac:</strong>
  <%= @runner.fecha_nac %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @runner.pais %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @runner.ciudad %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @runner.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @runner.telefono %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @runner.correo %>
</p>

<p>
  <strong>Club:</strong>
  <%= @runner.club %>
</p>

<p>
  <strong>Talla:</strong>
  <%= @runner.talla %>
</p>

<p>
  <strong>Persona emergencia:</strong>
  <%= @runner.persona_emergencia %>
</p>

<p>
  <strong>Numero emergencia:</strong>
  <%= @runner.numero_emergencia %>
</p>

<p>
  <strong>Peblema:</strong>
  <%= @runner.peblema %>
</p>

<p>
  <strong>Alergia:</strong>
  <%= @runner.alergia %>
</p>

<p>
  <strong>Prescripcion:</strong>
  <%= @runner.prescripcion %>
</p>

<p>
  <strong>Tratamiento:</strong>
  <%= @runner.tratamiento %>
</p>

<p>
  <strong>Declaracion:</strong>
  <%= @runner.declaracion %>
</p>

<p>
  <strong>Rut pago:</strong>
  <%= @runner.rut_pago %>
</p>

<p>
  <strong>Pago:</strong>
  <%= @runner.pago %>
</p>

<p>
  <strong>Dorsal:</strong>
  <%= @runner.dorsal %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @runner.lugar %>
</p>

<p>
  <strong>Tiempo:</strong>
  <%= @runner.tiempo %>
</p>

<%= link_to 'Editar', edit_runner_path(@runner) %> |
<%= link_to 'Atrás', runners_path %>
