<p id="notice"><%= notice %></p>

<h1>Lista de Categorías</h1>

<table class="table">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Sexo</th>
      <th>Edad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.tipo %></td>
        <td><%= category.sexo %></td>
        <td><%= category.edad %></td>
        <td><%= link_to 'Ver', category, :class => 'btn btn-xs btn-success' %></td>
        <td><%= link_to 'Editar', edit_category_path(category), :class => 'btn btn-xs btn-warning' %></td>
        <td><%= link_to 'Eliminar', category, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Categoría', new_category_path %>
